@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <label>Bakery item select and enter the Number of quantity to check the output of each item</label><br />
    <select id="drpBakeryitem" style="background: #f3f3f3;width: 39%;">
        <option>Please select Bakery item</option>
        <option>VS5</option>
        <option>MB11</option>
        <option>CF</option>
    </select>
    <input type="text" id="txtNumberofitem" /><br/>
    <label id="lbltotalvalue" ></label>
</div>